html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/********************************************/

body {
    user-select: none;
    background-image: linear-gradient(#525164, #444444);
    width: 100vw;
    height: 100vh;
    -webkit-font-smoothing: antialiased;

    overflow: scroll;
    overflow-x: hidden;
}

#title{
    color: white;
    font-family: 'Segoe UI';
    font-weight: lighter;
    font-size: 26px;
    user-select: none;
    pointer-events: none;

    position: absolute;
    transform: translate(-50%);
    left: 50%;
    top: 12px;
}

#resultBg{
    background-color: rgba(236, 236, 236, 0.2);
    position: absolute;
    left: 10px; right: 10px;
    border-radius: 10px;
    top: 50px;
    bottom: 45px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
}

#station{
    color: white;
    font-family: 'Segoe UI';
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;
}

ul li{
    background-color: rgba(100, 0, 0, 0.4);
    font-family: 'Segoe UI';
    font-size: 20px;
    font-weight: lighter;
    border-radius: 5px;
    margin: 5px;
    color: white;
    vertical-align: central;
    overflow: hidden;
    padding: 10px;
    height: 25px;
}

/* Initially supposed to a searchbar where the user could type in their station of choice */
/*#sBar{
    background-color: rgba(255, 255, 255, 0.8);
    top: 5px;
    left: 50%; 
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    transform: translate(-50%);
    font-family: 'Segoe UI';
    font-weight: lighter;
    font-size: 20px;
    height: 20px;
    border: none;
    color: black;
}

#sBar:focus {
    outline: none;
}

#sBar::placeholder{
    color: gray;
    opacity: 0.9;
}*/

#resultBg input:focus{
    outline: none;
}

#refreshButton {
    position: absolute;
    transform: translate(-50%);
    left: 30%;
    bottom: 20px;
    border-radius: 50%;
    box-shadow: rgba(0,0,0,0.3) 0px 0px 15px;
}

#refreshButton:hover{
    filter: brightness(1.5);
}

#pButton {
    position: absolute;
    transform: translate(50%);
    right: 30%;
    bottom: 20px;
    border-radius: 50%;
    box-shadow: rgba(0,0,0,0.3) 0px 0px 15px;
}

#pButton:hover {
    filter: brightness(1.5);    
}